/*----------- navbar start -------------*/
.nav-brand,
.nav-brand:focus,
.nav-brand:hover,
.nav-menu>li>a {
    color: #303740;
}

.menu__list,
.nav-dropdown,
.nav-menu,
ul {
    list-style: none
}

.menu__link,
.navigation,
.navigation * {
    -webkit-tap-highlight-color: transparent
}

.navigation,
.navigation * {
    box-sizing: border-box
}

.navigation {
    width: 100%;
    height: 70px;
    display: table;
    position: relative;
    font-size: 14px;
}

.nav-toggle,
.navigation-hidden .nav-header {
    display: none
}

.navigation-portrait {
    height: 48px
}

.navigation-fixed {
    position: fixed;
    top: 0;
    left: 0
}

.navigation-hidden {
    width: 0 !important;
    height: 0 !important;
    margin: 0 !important;
    padding: 0 !important
}

.align-to-right {
    float: right;
    letter-spacing: 0.1px;
}

.align-to-left {
    float: left;
    letter-spacing: 0.1px;
}

.nav-header {
    float: right
}

.nav-brand {
    padding: 17px 15px;
    font-size: 24px;
    margin-left: 1rem;
    padding-right: 0;
    text-decoration: none !important
}

.deatils ul li a,
.indicate a,
.logo h1 a,
.nav-button,
.nav-dropdown>li>a,
.nav-menu>li>a,
nav a {
    text-decoration: none
}

.navigation-portrait .nav-brand {
    font-size: 18px;
    line-height: 48px
}

.nav-logo>img {
    height: 48px;
    margin: 11px auto;
    padding: 0 15px;
    float: left
}

.nav-logo:focus>img {
    outline: initial
}

.deatils ul li a,
.indicate a,
.menu__link:focus,
.menu__link:hover,
nav a,
nav a:focus,
nav a:hover {
    outline: 0
}

.navigation-portrait .nav-logo>img {
    height: 36px;
    margin: 6px auto 6px 15px;
    padding: 0
}

.nav-toggle {
    width: 30px;
    height: 30px;
    padding: 6px 2px 0;
    position: absolute;
    top: 50%;
    margin-top: -14px;
    left: 15px;
    cursor: pointer
}

.nav-toggle:before {
    content: "";
    position: absolute;
    width: 24px;
    height: 2px;
    background-color: #70798b;
    border-radius: 10px;
    box-shadow: 0 .5em 0 0 #70798b, 0 1em 0 0 #70798b
}

.navigation-portrait .nav-toggle {
    display: block
}

.navigation-portrait .nav-menus-wrapper {
    width: 280px;
    height: 100%;
    top: 0;
    right: -400px;
    position: fixed;
    background-color: #1c2138;
    z-index: 20000;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    transition-duration: .8s;
    transition-timing-function: ease
}

.navigation-portrait .nav-menus-wrapper.nav-menus-wrapper-right {
    left: auto;
    right: -400px
}

.nav-menus-wrapper.nav-menus-wrapper-open {
    right: 0
}

.nav-menus-wrapper.nav-menus-wrapper-right.nav-menus-wrapper-open {
    right: 0
}

.nav-menus-wrapper-close-button {
    width: 30px;
    height: 40px;
    margin: 10px 7px;
    display: none;
    float: left;
    color: #70798b;
    font-size: 26px;
    cursor: pointer
}

.navigation-portrait .nav-menus-wrapper-close-button {
    display: block
}

.nav-menu {
    margin: 0;
    padding: 0;
    line-height: normal
}

.navigation-portrait .nav-menu {
    width: 100%
}

.navigation-landscape .nav-menu.nav-menu-centered {
    float: none;
    text-align: center
}

.nav-menu>li {
    display: inline-block;
    float: right;
    text-align: right
}

.navigation-portrait .nav-menu>li {
    width: 100%;
    position: relative;
    border-top: solid 1px #2d3454;
}

.navigation-portrait .nav-menu>li:last-child {
    border-bottom: solid 1px #2d3454
}

.nav-menu+.nav-menu>li:first-child {
    border-top: none
}

.navigation-landscape .nav-menu.nav-menu-centered>li {
    float: none
}

.nav-menu>li>a {
    padding: 25px 12px;
    display: inline-block;
    transition: color .3s, background .3s;
}

.navigation-portrait .nav-menu>li>a {
    height: auto;
    width: 100%;
    color: #787fa0;
    padding: 12px 15px 12px 26px
}

.nav-menu>.active>a,
.nav-menu>.focus>a,
.nav-menu>li:hover>a {
    color: #D70040 !important;
}

.nav-menu>li>a>[class*=ion-],
.nav-menu>li>a>i {
    width: 18px;
    height: 16px;
    line-height: 16px;
    -ms-transform: scale(1.4);
    /* transform: scale(1.4); */
    top: 1px;
    position: relative;
}

.nav-menu>li>a>[class*=ion-] {
    width: 16px;
    display: inline-block;
    transform: scale(1.8)
}

.navigation-portrait .nav-menu.nav-menu-social {
    width: 100%;
    text-align: center
}

.nav-menu.nav-menu-social>li {
    text-align: center;

    border: none !important
}

.nav-menu+.nav-menu>li:first-child {
    position: relative;
}

.nav-menu+.nav-menu.dhsbrd>li:first-child:before {
    display: none;
}

.navigation-portrait .nav-menu.nav-menu-social>li {
    width: auto
}

.nav-menu.nav-menu-social>li>a>[class*=ion-] {
    font-size: 12px
}

.nav-menu.nav-menu-social>li>a>.fa,
.nav-menu.nav-menu-social>li>a>.fas {
    font-size: 15px
}

.navigation-portrait .nav-menu.nav-menu-social>li>a {
    padding: 15px
}

.submenu-indicator {
    margin-right: 6px;
    margin-top: 6px;
    float: left;
    transition: all .3s
}

.navigation-portrait .submenu-indicator {
    width: 54px;
    height: 44px;
    margin-top: 0;
    position: absolute;
    text-align: center;
    z-index: 20000
}

.submenu-indicator-chevron {
    height: 6px;
    width: 6px;
    display: block;
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: transparent #70798b #70798b transparent;
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    transition: border .3s
}

.navigation-portrait .submenu-indicator-chevron {
    position: absolute;
    top: 18px;
    left: 24px
}

.nav-menu>.active>a .submenu-indicator-chevron,
.nav-menu>.focus>a .submenu-indicator-chevron,
.nav-menu>li:hover>a .submenu-indicator-chevron {
    border-color: transparent #D70040 #D70040 transparent
}

.navigation-portrait .submenu-indicator.submenu-indicator-up {
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg)
}

.nav-overlay-panel {
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    position: fixed;
    display: none;
    z-index: 19999
}

.no-scroll {
    width: 100%;
    height: 100%;
    overflow: hidden
}

.nav-search {
    height: 70px;
    float: right;
    z-index: 19998
}

.navigation-portrait .nav-search {
    height: 48px;
    padding: 0 10px;
    margin-right: 52px
}

.navigation-hidden .nav-search {
    display: none
}

.nav-search-button {
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    cursor: pointer;
    background-color: #fbfcfd
}

.nav-search-icon {
    width: 14px;
    height: 14px;
    margin: 2px 8px 8px 4px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    color: #70798b;
    text-align: left;
    text-indent: -9999px;
    border: 2px solid;
    border-radius: 50%;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    transition: color .3s
}

.nav-search-icon:after,
.nav-search-icon:before {
    content: '';
    pointer-events: none
}

.nav-search-icon:before {
    width: 2px;
    height: 11px;
    top: 11px;
    position: absolute;
    left: 50%;
    border-radius: 0 0 1px 1px;
    box-shadow: inset 0 0 0 32px;
    transform: translateX(-50%)
}

.nav-search-button:hover .nav-search-icon {
    color: #D70040
}

.navigation-portrait .nav-search-button {
    width: 50px;
    height: 48px;
    line-height: 46px;
    font-size: 22px
}

.nav-search>form {
    width: 100%;
    height: 100%;
    padding: 0 auto;
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #fff;
    z-index: 99
}

.nav-search-inner {
    width: 70%;
    height: 70px;
    margin: auto;
    display: table
}

.navigation-portrait .nav-search-inner {
    height: 48px
}

.nav-search-inner input[type=search],
.nav-search-inner input[type=text] {
    height: 70px;
    width: 100%;
    margin: 0;
    padding: 0 12px;
    font-size: 26px;
    text-align: center;
    color: #70798b;
    outline: 0;
    line-height: 70px;
    border: none;
    background-color: transparent;
    transition: all .3s
}

.navigation-portrait .nav-search-inner input[type=search],
.navigation-portrait .nav-search-inner input[type=text] {
    height: 48px;
    font-size: 18px;
    line-height: 48px
}

.nav-search-close-button {
    width: 28px;
    height: 28px;
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
    line-height: normal;
    color: #70798b;
    font-size: 20px;
    cursor: pointer;
    text-align: center
}

.nav-button,
.nav-text {
    display: inline-block;
    font-size: 14px
}

.navigation-portrait .nav-search-close-button {
    top: 10px;
    right: 14px
}

.nav-button {
    margin: 18px 15px 0;
    padding: 8px 14px;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    background-color: #D70040;
    transition: opacity .3s
}

.nav-button:focus,
.nav-button:hover {
    color: #fff;
    text-decoration: none;
    opacity: .85
}

.navigation-portrait .nav-button {
    width: calc(100% - 52px);
    margin: 17px 26px
}

.nav-text {
    margin: 25px 15px;
    color: #70798b
}

.navigation-portrait .nav-text {
    width: calc(100% - 52px);
    margin: 12px 26px 0
}

.navigation-portrait .nav-text+ul {
    margin-top: 15px
}

.nav-dropdown {
    min-width: 250px;
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
    z-index: 98;
    white-space: nowrap
}

.navigation-portrait .nav-dropdown {
    width: 100%;
    position: static;
    left: 0
}

.nav-dropdown .nav-dropdown {
    right: 100%
}

.nav-menu>li .nav-dropdown {
    border: none;
    padding: 15px;
    background: #ffffff;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 42px 0px rgba(32, 32, 32, 0.15);
    -webkit-box-shadow: 0px 0px 42px 0px rgba(32, 32, 32, 0.15);
}

.nav-menu>li>.nav-dropdown:before {
    background-color: #ffffff;
    content: "";
    width: 22px;
    height: 22px;
    right: 27px;
    top: -12px;
    position: absolute;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
}

.nav-dropdown>li {
    width: 100%;
    float: right;
    clear: both;
    position: relative;
    text-align: right
}

.nav-dropdown>li>a {
    width: 100%;
    padding: 14px 10px 14px 20px;
    border-bottom: 1px solid #e4e8ec;
    display: inline-block;
    float: left;
    color: #4d5662;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.nav-dropdown>li:last-child>a {
    border-bottom: none;
}

.nav-dropdown>li>a:hover,
.nav-dropdown>li>a:focus {
    padding-right: 20px;
    color: #D70040;
}

.social-icon a i,
.social-icons a i {
    width: 32px;
    height: 32px;
    display: inline-block;
    border-radius: 16px
}

.nav-dropdown>.focus>a,
.nav-dropdown>li:hover>a {
    color: #da0b4e;
}

.nav-dropdown.nav-dropdown-left {
    right: 0
}

.nav-dropdown>li>.nav-dropdown-left {
    left: auto;
    right: 100%
}

.navigation-landscape .nav-dropdown-left>li>a {
    text-align: right
}

.navigation-portrait .nav-dropdown>li>a {
    padding: 12px 20px 12px 30px
}

.navigation-portrait .nav-dropdown>li>ul>li>a {
    padding-left: 50px
}

.navigation-portrait .nav-dropdown>li>ul>li>ul>li>a {
    padding-left: 70px
}

.navigation-portrait .nav-dropdown>li>ul>li>ul>li>ul>li>a {
    padding-left: 90px
}

.navigation-portrait .nav-dropdown>li>ul>li>ul>li>ul>li>ul>li>a {
    padding-left: 110px
}

.nav-dropdown .submenu-indicator {
    left: 15px;
    top: 16px;
    position: absolute
}

.menu__list,
.navbar,
nav a {
    position: relative
}

.navigation-portrait .submenu-indicator {
    left: 0;
    top: 0
}

.nav-dropdown .submenu-indicator .submenu-indicator-chevron {
    -ms-transform: rotate(135deg);
    transform: rotate(135deg)
}

.navigation-portrait .nav-dropdown .submenu-indicator .submenu-indicator-chevron {
    -ms-transform: rotate(45deg);
    transform: rotate(45deg)
}

.nav-dropdown>.focus>a .submenu-indicator-chevron,
.nav-dropdown>li:hover>a .submenu-indicator-chevron {
    border-color: transparent #D70040 #D70040 transparent
}

.navigation-landscape .nav-dropdown-left .submenu-indicator {
    left: 10px
}

.navigation-landscape .nav-dropdown-left .submenu-indicator .submenu-indicator-chevron {
    -ms-transform: rotate(135deg);
    transform: rotate(135deg)
}

nav a {
    display: inline-block
}

.header {
    background: #fff;
    z-index: 4;
}

.header-top {
    padding: 1em 0;
    background: #05222A
}

.indicate {
    float: left
}

.deatils {
    float: right
}

.indicate a {
    font-size: 1.1em;
    color: #C6C7C7;
    vertical-align: middle
}

.deatils ul li i,
.indicate i {
    font-size: 1.2em;
    color: #888f90;
    vertical-align: middle
}

.indicate i {
    margin-right: .5em
}

.deatils ul li {
    display: inline-block;
    margin: 0 5px
}

.deatils ul li i {
    margin-right: .5em
}

.deatils ul li a {
    font-size: 1.1em;
    color: #C6C7C7;
    vertical-align: middle
}

.social-icons {
    float: right;
    margin-top: .7em
}


.logo h1 a {
    color: #fff;
    font-size: 1.3em
}

.logo span {
    display: block;
    font-size: .32em;
    letter-spacing: 4px
}

.header-bottom {
    padding: 1em 0
}

.navbar-nav {
    float: left;
    margin: 0
}

.navbar-default {
    background: #fff;
    border: none !important
}

.navbar-default .navbar-nav>li>a {
    color: #05222A;
    font-size: 1.3em;
    font-weight: 900
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: #02B875;
    background-color: #fff
}

.navbar {
    min-height: 50px;
    margin-bottom: 0;
    border: 1px solid transparent
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    color: #05222A;
    background-color: #fff
}

.menu__list {
    -webkit-flex-wrap: inherit;
    flex-wrap: inherit
}

.menu__item {
    display: block;
    margin: 1em 0
}

.menu__link {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none
}

.menu--francisco .menu__item {
    margin: 0 1.5em
}

.menu--francisco .menu__link {
    position: relative;
    overflow: hidden;
    height: 3em;
    padding: 1em 0;
    text-align: center;
    color: #b5b5b5;
    -webkit-transition: color .3s;
    transition: color .3s
}

.menu--francisco .menu__link:focus,
.menu--francisco .menu__link:hover {
    color: #929292
}

.menu--francisco .menu__item--current .menu__link {
    color: #02B875
}

.menu--francisco .menu__link::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    opacity: 0;
    background: #02B875;
    -webkit-transform: translate3d(0, -3em, 0);
    transform: translate3d(0, -3em, 0);
    -webkit-transition: -webkit-transform 0s .3s, opacity .2s;
    transition: transform 0s .3s, opacity .2s
}

.menu--francisco .menu__item--current .menu__link::before,
.menu--francisco .menu__link:hover::before {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform .5s, opacity .1s;
    transition: transform .5s, opacity .1s;
    -webkit-transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-timing-function: cubic-bezier(.4, 0, .2, 1)
}

.menu--francisco .menu__helper {
    display: block;
    pointer-events: none
}

.menu--francisco .menu__item--current .menu__helper,
.menu__link:hover .menu__helper {
    -webkit-animation: anim-francisco .3s forwards;
    animation: anim-francisco .3s forwards
}

@-webkit-keyframes anim-francisco {
    50% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0)
    }

    51% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0)
    }

    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

@keyframes anim-francisco {
    50% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0)
    }

    51% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0)
    }

    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

.nav-menu.nav-menu-social>li.login_click {
    border-radius: 2px;
    top: 19px;
    position: relative;
    height: 45px;
    padding: 0px;
    margin-left: 10px;
}

.nav-menu.nav-menu-social>li.login_click.style-2 {
    border-radius: 4px;
    min-width: 140px;
    top: 17px;
    position: relative;
    height: 46px;
}

.nav-menu.nav-menu-social>li.login_click a {
    top: 0px;
    padding: 30px 20px;
    color: #ffffff !important;
}

.nav-menu.nav-menu-social>li.login_click.dark-bg {
    background: #2e3654;
}

.nav-menu.nav-menu-social>li.login_click.bg-whit {
    background: #ffffff !important;
}

.nav-menu.nav-menu-social>li.login_click.bg-whit a {
    color: #333333 !important;
}

.nav-brand img {
    max-width: 120px;
    position: relative;
    top: 0px;
}

.nav-menu.nav-menu-social>li.login_click {
    border-radius: 4px;
    top: 14px;
    position: relative;
    height: 42px;
    padding: 0 5px;
    margin-right: 10px;
    background: #131b31;
    border: 1px solid #131b31;
}

.nav-menu.nav-menu-social>li.login_click.search {
    border-radius: 4px;
    top: 15px;
    position: relative;
    height: 42px;
    padding: 0 5px;
    margin-left: 10px;
    background: transparent;
    border: none;
}

.login_click.search .form-inline.addons .form-control {
    border-radius: 0 3px 3px 0;
    height: 42px;
    font-size: 13px;
}

.login_click.search .form-inline.addons button {
    border-radius: 3px 0 0 3px;
    height: 42px;
    padding: 0 0 0 15px;
}

.nav-menu.nav-menu-social>li.login_click.bg-green {
    background: #00ba74;
    border: 1px solid #00ba74;
}

.nav-menu.nav-menu-social>li.login_click.bg-red {
    background: #da0b4e;
    border: 1px solid #da0b4e;
}

.nav-menu.nav-menu-social>li.login_click.bg-blue {
    background: #2983f5;
    border: 1px solid #2983f5;
}

.nav-menu.nav-menu-social>li.login_click.light {
    transition: all ease 0.4s;
    background: #ffffff;
    border: 1px solid rgba(100, 123, 156, 0.3) !important;
}

.nav-menu.nav-menu-social>li.login_click.light a {
    color: #da0b4e !important;
}

.nav-menu.nav-menu-social>li.login_click.light.green a {
    color: #202b44 !important;
}

.nav-menu.nav-menu-social>li.login_click.light:hover,
.nav-menu.nav-menu-social>li.login_click.light:focus {
    background: #da0b4e;
    border-color: #da0b4e !important;
}

.nav-menu.nav-menu-social>li.login_click.light:hover a,
.nav-menu.nav-menu-social>li.login_click.light:focus a {
    color: #ffffff !important;
}

/*--------- Dashboard Dropdown ----------*/
.btn-group.account-drop {
    position: relative;
    padding: 19px 15px;
}

.account-drop .dropdown-menu a {
    padding: 0.6rem 0;
    font-size: 14px;
}

.account-drop .dropdown-menu {
    top: 60px !important;
    right: 0 !important;
    background: #fff;
    box-shadow: none;
    border: solid 1px #ebedf3;
    min-width: 200px;
    left: initial !important;
    padding: 0.4rem 1rem;
}

/*----------Dark Menu --------*/
@media (min-width: 992px) {
    .nav-menu.nav-menu-social>li.login_click.bg-white {
        background: #ffffff !important;
    }

    .nav-menu.nav-menu-social>li.login_click.bg-white a {
        color: #333333 !important;
    }

    .header.header-fixed {
        box-shadow: 0 5px 30px rgba(0, 22, 84, 0.1);
        -webkit-box-shadow: 0 5px 30px rgba(0, 22, 84, 0.1);
        background: #ffffff;
        position: fixed;
        z-index: 999;
        width: 100%;
        top: 0;
        -webkit-transition: 0.2s ease-in;
        -o-transition: 0.2s ease-in;
        transition: 0.2s ease-in;
        -webkit-animation-duration: 0.5s;
        animation-duration: 0.5s;
        -webkit-animation-name: slideInDown;
        animation-name: slideInDown;
    }

    .header.head-shadow {
        box-shadow: 0 5px 30px rgba(0, 22, 84, 0.1);
        -webkit-box-shadow: 0 5px 30px rgba(0, 22, 84, 0.1);
    }

    .nav-menu.nav-menu-social>li.login_click a {
        top: -10px;
    }

    .nav-menu.nav-menu-social>li.login_click a {
        /* top: 0; */
        padding: 20px 15px;
        color: #fff !important;
        font-weight: 600;
        font-size: 14px;
    }

    .nav-menu.nav-menu-social>li.login_click.style-2 a {
        top: -16px;
    }

    .header.header-dark {
        background-color: #1f263e;
    }

    .header.header-dark .nav-brand,
    .header.header-dark .nav-brand:focus,
    .header.header-dark .nav-brand:hover,
    .header.header-dark .nav-menu>li>a {
        color: #ffffff;
    }

    .header.header-dark .nav-menu>li .nav-dropdown {
        background: #232b46;
    }

    .header.header-dark .nav-dropdown>li>a {
        border-bottom: 1px solid #2e3654;
    }

    .header.header-dark .nav-menu>li>.nav-dropdown:before {
        background-color: #232b46;
    }

    /*------ transparent --------*/
    .header.header-transparent {
        background: transparent;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        display: inline-block;
        width: 100%;
        z-index: 4;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }

    .header.header-transparent.header-fixed {
        box-shadow: 0 5px 30px rgba(0, 22, 84, 0.1);
        -webkit-box-shadow: 0 5px 30px rgba(0, 22, 84, 0.1);
        background: #ffffff;
        position: fixed;
        z-index: 999;
        width: 100%;
        top: 0;
        -webkit-transition: 0.2s ease-in;
        -o-transition: 0.2s ease-in;
        transition: 0.2s ease-in;
        -webkit-animation-duration: 0.5s;
        animation-duration: 0.5s;
        -webkit-animation-name: slideInDown;
        animation-name: slideInDown;
    }

    .header.header-transparent .nav-brand,
    .header.header-transparent .nav-brand:focus,
    .header.header-transparent .nav-brand:hover,
    .header.header-transparent .nav-menu>li>a {
        color: #ffffff;
    }

    .header.header-transparent.header-fixed .nav-brand,
    .header.header-transparent.header-fixed .nav-brand:focus,
    .header.header-transparent.header-fixed .nav-brand:hover,
    .header.header-transparent.header-fixed .nav-menu>li>a {
        color: #404656;
    }

    .change-logo .nav-brand.fixed-logo {
        display: none;
    }

    .change-logo.header-fixed .nav-brand.fixed-logo {
        display: block;
    }

    .change-logo.header-fixed .nav-brand.static-logo {
        display: none;
    }

    .dark-text .nav-brand,
    .header-transparent.dark-text .nav-brand:focus,
    .header-transparent.dark-text .nav-brand:hover,
    .header-transparent.dark-text .nav-menu>li>a {
        color: #404656;
    }

    .header-transparent.dark-text .nav-menu>li>a:hover,
    .header-transparent.dark-text .nav-menu>li>a:focus {
        color: #D70040;
    }
}




/*
DROPDOWN STYLE
=========================== */
nav .menu>li.dropdown>a:before,
nav .menu>li.megamenu>a:before {
    margin-left: 10px;
    content: "\e61a";
    font-family: 'themify';
    float: right;
    position: relative;
    font-size: 12px;
    top: 2px;
}

nav .menu>li.dropdown li.dropdown>a:before {
    margin-left: 10px;
    content: "\e649";
    font-family: 'themify';
    float: right;
    position: relative;
    font-size: 14px;
    top: 1px;
}

nav .menu li.dropdown.open>a {
    color: #e74c3c;

}

.top-header {
    background: #333c56;
    padding: 12px 0;
    color: #ffffff;
}

.cn-info ul {
    padding: 0;
    margin: 0;
}

.cn-info ul li {
    list-style: none;
    display: inline-block;
    margin-right: 15px;
}

.cn-info ul li i {
    margin-right: 5px;
}

.cn-info ul li:last-child {
    margin-right: 0;
}

.top-social {
    padding: 0;
    margin: 0;
    float: right;
}

.top-social li {
    list-style: none;
    display: inline-block;
    margin-right: 15px;
}

.top-social li:last-child {
    margin-right: 0;
}

.top-social li a {
    color: #ffffff;
}

.mg-menu-items {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
}

.mg-menu-items i {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 40px;
    flex: 0 0 40px;
}

.mg-menu-items h5 {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding-left: 16px;
    font-size: 15px;
    color: #031b4e;
    margin-bottom: 0;
}

.mg-menu-items h5>span {
    color: #72809D;
    display: block;
    font-weight: 500;
}

.account-drop .btn.btn-order-by-filt {
    padding: 0;
    box-shadow: none;
    margin-top: 5px;
    font-weight: 600;
}

.account-drop .btn.btn-order-by-filt img.avater-img {
    width: 35px;
    border-radius: 50%;
    margin-right: 7px;
}

li.login-attri .account-drop a {
    height: auto;
    line-height: 1.5;
    padding: 10px 10px !important;
    box-shadow: none;
    color: #606c8e !important;
    font-size: 15px;
}
.gray-shadow-color {
    background-color: rgba(0, 0, 0, 0.5)
}